/*!
 * @theme custom-theme
 * @author Mike Rogers
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */

@import 'gaia';

pre, pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-word;
  color: white;
  overflow: auto;
}

.highlighted-line {
  background-color: #14161a66;
  display: block;
  padding: 0.10rem;
}
