/*!
 * @theme custom-theme
 * @author Mike Rogers
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */

@import 'gaia';

body, #p {
  background-color: #000;
}

pre, code[class*="language-"] {
  color: white;
}

.highlighted-line {
  background-color: #14161a66;
  display: block;
  font-size: 1em;
}
